/* 页面容器 */
.m-main {
    width: 1122px;
    margin: 0 auto;
    padding-top: 0;
    /*display: flex;*/
}
body{
    background-color: var(--frame-background);
}
.main-full{
    width: 642px;
    position: relative;
    /*padding-bottom: 90px;*/
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}
.main-side{
    width: 282px;
    margin-left: var(--frame-mod-gap-space);
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.main-side>div{
    position: sticky;
    top:70px;
}
.m-gotop{
    padding-top: 0;
    width: 40px;
    height: 40px;
    /*margin-left: 609px;*/
    border-color: var(--w-card-border);
    border-radius: var(--w-border-radius);
    background-color: var(--w-panel-background);
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
    left: initial;
    margin-left: initial;
    right: 50px;

}
.m-gotop a{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--w-sub);

}
.m-gotop a:hover{
    background-color: rgba(255,130,0,.1);
    background-color: var(--w-hover);
    color: #ff8200;
}

.card-wrap{
    border-color: #f2f2f2;
    border-color: var(--w-card-border);
    border-radius: 4px;
    border-radius: var(--w-border-radius);
}
.card-bottom-gap{
    margin-bottom: 8px;
    margin-bottom: var(--w-gap);
}

.more{
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: block;
    color: #939393;
    color: var(--w-sub);
}
.more:hover{
    opacity: 0.8;
    color: #939393;
    color: var(--w-sub);
}
.main-side .more{
    height: 40px;
    line-height: 40px;
}
.rank-more{
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    color: #838383;
    margin:-1px -18px 0;
    border-top:1px solid var(--w-dividing-line);
    font-family: MicrosoftYaHeiUI;
}
.rank-more:hover{
    color: #838383;
}
.card-hotrank .card-head{
    box-sizing: border-box;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid var(--w-dividing-line);
    padding: 0 18px;
}
.card-hotrank .card-head .title{
    color: #333;
    color: var(--w-main);
    font-size: 14px;
    font-weight: normal;
    font-family: MicrosoftYaHeiUI;
}
.card-hotrank .card-content{
    padding: 0 18px;
}
.card-hotrank .card-content ul>li{
    position: relative;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 26px;
    border-bottom:1px solid var(--w-dividing-line);
}
.card-hotrank .card-content ul>li .val{
    color:var(--w-sub);;
}
.card-hotrank .card-content ul>li p{
    flex: 1;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
}
.card-hotrank li a{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: none;
    font-size:12px;
    margin-left: 24px;
}
.card-hotrank .card-content li>i{
    margin-left: 10px;
    transform: scale(.8);
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 9px;
    right: 0;
    border-radius:4px;
    font-size: 14px;
}
.card-feed{
    padding: 20px 20px 4px 20px;
    position:relative;
}
.card-feed .content{
    margin-left: 0;
    padding-left: 60px;
}
/*.media-piclist ul.m2 li img, .media-piclist ul.m3 li img, .media-piclist ul.m4 li img{
    border-radius: 8px;
    border-radius: var(--feed-picture-mask-border-width);
}*/
/*.media-piclist ul.m3 li{
    width: 136.06px;
    height: 136.06px;
}*/

.media-piclist ul.m3{
    width: 430px;
}
/*.media-piclist ul.m4 li{
    width: 132px;
    height: 132px;
}*/
.media-piclist ul.m4 li:last-of-type{
    margin-right: 0;
}
.media-piclist ul.m4{
    width: 100%;
}
/*.media-piclist ul li,*/
.media-article-a .thumbnail, .media-video-a .thumbnail, .media-pic-zoom .bigpic, .media-pay .pic, .media-bigpic-a .thumbnail, .media-bigpic-a .thumbnail{
    border-radius: 8px;
    border-radius: var(--feed-picture-mask-border-width);
    overflow: hidden;
}
.media-piclist ul.m1 li img{
    border-radius: 8px;
    border-radius: var(--feed-picture-mask-border-width);
    object-fit: cover;
    width: 100%;
}
.card-together .card-sender .func .input-wrap-review{
    width: auto;
}
.card-together .card-sender .func .input-wrap-review .input textarea{
    width: 532px;
    height:24px!important;
    padding:6px 11px!important;
    line-height:24px!important;
    background: var(--w-input-background)!important;
    border: 1px solid var(--w-input-background)!important;
    font-size:14px!important;
    display: block;
    box-sizing:content-box;
}
.card-together .card-sender .func .input-wrap-review .input textarea:focus{
    background: transparent!important;
    border: 1px solid #eb7350!important;
}
.toolbar_icon{
    font-size: 13px;
    vertical-align: super;
}
.toolbar_btn{
    text-align: center;
    padding: 0;
    font-size: 16px;
    color: grey;
    font-weight: 400;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.toolbar_iconWrap{
    display: block;
    width: 24px;
    border-radius: 50%;
    height: 24px;
    margin-right: 6px;
}
.card-act li a:hover .toolbar_iconWrap,.act li a:hover .toolbar_iconWrap{
    background-color: var(--w-hover);
}
.toolbar_num{
    font-size: 12px;
    line-height: 12px;
}
.card-act li a{
    color: grey;
}
.card-act li a:hover{
    color: #ff8200;
    color: var(--w-brand);
}
.card-act li a:hover .stoolbar_iconWrap{
    background-color: var(--w-hover);
}
.card-divider-line{
    height: 1px;
    margin: 10px 20px 0;
    background: var(--w-dividing-line);
}


.media-piclist ul li.pic-l img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.media-piclist ul.m1 li.pic-l{
    width: initial;
}


.card-topic-b .pic{
    width: initial;
    height: initial;
    max-height: 193px;
    overflow: hidden;
}
.card-topic-b .card-topic-a{
    box-sizing: border-box;
    width: 100%;
}
.main-wrapper{
    margin-top: 50px;
}
.card-comment .toolbar_iconWrap{display:flex;margin-top:-6px}

.topic-newheader{padding:0;}
.topic-newheader .filterbanner{
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 140px;
    overflow:hidden;
    position:relative;
}
.topic-newheader .filterbanner::after{
    content: '';
    position:absolute;
    bottom: 0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.2)
}
.topic-newheader .filterbanner img{
    display:block;
    width: 100%;
    /*height: 100%;
    object-fit: cover;*/
    filter: blur(40px);
    -webkit-filter:blur(40px);
    transform: scale(1.2);
}
.topic-newheader .msg{
    margin-top:-28px;
    padding:0 0 18px 18px;
    position: relative;
    z-index: 5;
}
.card-topic-a h1 a {
    color:#fff;
    font-size:18px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.30);
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 470px;
    display: inline-block;
}
.topic-newheader-ad{
    margin-top:-28px;
    padding: 0 0 18px 18px;
}
.topic-newheader-ad .total{
    color:#939393;
}
.topic-newheader-ad h1 a {
    font-size:18px;
    line-height: 23px;
}
.m-search-new{
    float:left;
    margin-top:13px;
}
.m-search-new .searchbox input{
    width:176px;
    border-radius:32px;
    color: var(--weibo-top-nav-search-bar-color);
    font-size: 15px;
    background-color: var(--weibo-top-nav-search-bar-bg);
    border:0;
    padding-left: 32px;
    height:32px;
    line-height:26px;
}
.WB_global_nav_v7 .gn_header_v7{
    display: flex;
    justify-content: center;
}
.WB_global_nav_v7 .gn_nav_v7 ul{display:flex;}


@media screen and (max-width: 1024px) {
    .WB_global_nav_v7 .gn_header_v7 {
        width: 850px!important;
    }
    .WB_global_nav_v7 .gn_setup_v7 {
        width: 160px!important;
    }
    .WB_global_nav_v7 .gn_setup_v7 li{
        margin: 14px 0 0 10px!important;
    }

}

.m-sug-list .history li{
    display: flex;
    line-height: 16px;
    height: 16px;
    padding:15px 10px;
    color:#333;
}
.m-sug-list .history .del{
    color: var(--w-fonticon);
}
.m-sug-list .history li a{
    color:#333;
}
.m-sug-list .history li i{
    margin: 0 10px;
    color: var(--w-sub);
}
.m-sug-list .history li .text{
    flex: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m-sug-list .history li:hover,.m-sug-list .history li:hover a.text,.m-sug-list .history li:hover i{
    color: var(--w-brand);
}
.m-sug-list .history_tips{
    font-size: 14px;
    color: var(--w-sub);
    line-height:18px;
    padding: 6px 10px 5px;
}
.m-sug-list .sug li{
    display:flex;
    line-height: 16px;
    height: 16px;
    padding: 13px 10px;
}
.m-sug-list .sug li i{
    margin-right: 10px;
    color: var(--w-sub);
} 
.m-sug-list li:hover i{
    color: var(--w-sub);
}
.m-sug-list li a.search_text{
    flex: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    color:#333;
}

.m-sug-list .s-hr{
    background:var(--w-card-border);
}
.m-sug-list ul.hotrank{
    padding:0!important;
}
.m-sug-list .hotrank li{
    height:16px;
    line-height:16px;
    padding:12px 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 193px;
}
.m-sug-list .hotrank li a{
    color:#333
}
.m-sug-list .hotrank li:hover i{
    color:#fff;
}
.m-sug-list .more{
    padding:0 0 0 10px;
}
.m-sug-list .more a{
    color: var(--w-sub);
}
.WB_global_nav_v7 .gn_logo_v7{
    min-width:350px;
}
.Card_wrap_2ibWe{
    border-color: var(--w-card-border);
}
.wbpro-side .f14 {
    font-size: 14px;
    line-height: 18px
}
.wbpro-side-opt {
    height: 38px;
}
.wbpro-side-opt .wbpro-iconbed {
    width: 24px;
    height: 24px;
    margin-left:4px;
}
.card-top .title h4{
    border-bottom: 1px solid #f9f9f9;
}
.wbpro-side a:hover .wbpro-side-opt .wbpro-iconbed{
    background: #fff2e5;
    border-radius:50%;
}
.WB_global_nav_alpha{box-shadow:0 0 0 rgba(255,255,255,0)!important;}
.wbpv-poster:before {
    content: "";
    display: block;
    width: 100%;
    height: 80px;
    /* background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.4))); */
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.4));
    position: absolute;
    bottom: 0;
}








Nav_wrap_gHB1a {
    position: fixed;
    z-index: 9999;
    z-index: var(--w-index-layer);
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    height: var(--weibo-top-nav-height);
    padding-top: 0;
    padding-top: var(--weibo-top-nav-paddingTop);
    border-top: 2px solid #ff8200;
    border-top: var(--weibo-top-nav-borderTop);
    background-color: transparent;
    background-color: var(--weibo-top-nav-bgColor);
    background-image: none;
    background-image: var(--weibo-top-nav-bgImage);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: var(--weibo-top-nav-boxShadow);
    box-shadow: var(--weibo-top-nav-boxShadow)
}

.Nav_panel_YI3-j,.Nav_wrap_gHB1a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.Nav_panel_YI3-j {
    height: 100%;
    padding: 0 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    background-image: none;
    background-image: var(--weibo-top-nav-panel-bgImage)
}

@media screen and (max-width: 1279px) {
    .Nav_panel_YI3-j {
        background-image:none;
        background-image: var(--weibo-top-nav-panel-bgImage-s)
    }
}

.Nav_holder_2kLYT {
    height: 60px;
    height: var(--weibo-top-nav-height)
}

.Nav_main_UAKJF {
    max-width: 1122px;
    height: 100%;
    margin: auto
}

.Nav_left_cbXXA {
    width: 182px;
    margin-right: 8px
}

.Nav_logoWrap_2fPbO {
    display: inline-block;
    cursor: pointer;
    color: #231916;
    color: var(--weibo-top-nav-logo-color)
}

.Nav_search_1erCO {
    position: relative;
    height: 57px;
    margin-left: 1px
}

.Nav_icon_3GkaD {
    margin-left: 10px;
    position: absolute;
    cursor: pointer
}

.Nav_bar_2PJCD {
    width: 220px;
    padding: 0 10px
}

.Nav_bar_2PJCD,.Nav_barForcus_L6wsV {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.Nav_barForcus_L6wsV {
    height: 100%;
    padding-top: 12px;
    background: #fff;
    background: var(--w-card-background);
    -webkit-box-shadow: var(--w-layer-shadow);
    box-shadow: var(--w-layer-shadow)
}

.Nav_mid_5pisP {
    position: relative;
    width: 642px;
    height: 100%
}

.Nav_uslogo_116BP {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(150px,-50%);
    transform: translate(150px,-50%);
    width: 190px;
    height: 22px;
    background-repeat: no-repeat;
    background-image: url(https://h5.sinaimg.cn/upload/1005/526/2021/09/09/logo.png);
    background-image: var(--weibo-logo-us);
    background-size: 100%
}

@media screen and (max-width: 1320px) {
    .Nav_uslogo_116BP {
        -webkit-transform:translate(125px,-50%);
        transform: translate(125px,-50%)
    }
}

@media screen and (max-width: 1270px) {
    .Nav_uslogo_116BP {
        -webkit-transform:translate(110px,-50%) scale(.9);
        transform: translate(110px,-50%) scale(.9)
    }
}

@media screen and (max-width: 1200px) {
    .Nav_uslogo_116BP {
        -webkit-transform:translate(90px,-50%) scale(.8);
        transform: translate(90px,-50%) scale(.8)
    }
}

@media screen and (max-width: 1122px) {
    .Nav_uslogo_116BP {
        display:none
    }
}

.Nav_right_pDw0F {
    width: 282px;
    margin-left: 8px
}

.Nav_logo_1BwBq {
    width: 90px;
    height: 38px
}

.Nav_bar_2PJCD {
    position: absolute
}

.Nav_pub_QrDht,.Nav_skin_9Dx_Y {
    margin-left: 20px
}

@media (min-width: 1320px) {
    .Nav_logoWrap_2fPbO {
        margin-left:-100px
    }

    .Nav_configs_3wGfu {
        margin-right: -100px
    }

    .Nav_icon_3GkaD {
        display: none
    }
}

@media (max-width: 1319px) {
    .Nav_bar_2PJCD {
        visibility:hidden
    }

    .Nav_icon_3GkaD {
        visibility: visible
    }

    .Nav_right_pDw0F {
        width: auto;
        position: absolute;
        right: 20px
    }
}

@media (min-width: 1122px) and (max-width:1319px) {
    .Nav_main_UAKJF {
        max-width:none
    }

    .Nav_left_cbXXA {
        width: calc(182px + (100% - 1122px)/2);
        width: calc(182px + (100% - var(--main-width))/2);
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
}

@media (max-width: 1121px) {
    .Nav_links_1ytEi,.Nav_pub_QrDht {
        display:none
    }
}

@media (min-width: 832px) and (max-width:1120px) {
    .Nav_left_cbXXA {
        width:calc(182px + (100% - 832px)/2);
        width: calc(182px + (100% - var(--simple-width))/2);
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
}

@media (max-width: 831px) {
    .Nav_mid_5pisP {
        position:absolute;
        right: 0
    }
}

@media (max-width: 789px) {
    .Nav_logoWrap_2fPbO {
        width:35px;
        overflow: hidden
    }

    .Nav_left_cbXXA {
        width: 120px;
        margin-left: 0
    }

    .Nav_mid_5pisP {
        position: static;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: auto
    }
}

@media (max-width: 480px) {
    .Nav_left_cbXXA {
        width:50px
    }
}

.Nav_loginBtn_qKosE {
    margin-right: 10px
}






.SearchBar_wrap_14lCd {
    position: relative;
    z-index: 99;
    z-index: var(--w-index-nav)
}

.SearchBar_main_1wk2T {
    width: 100%;
    height: 34px
}

.SearchBar_main_1wk2T .woo-pop-main {
    width: 220px;
    left: -10px;
    border: 0 none;
    border-radius: 0;
    -webkit-box-shadow: 0 4px .25rem 0 rgba(0,0,0,.1);
    box-shadow: 0 4px .25rem 0 rgba(0,0,0,.1);
    border-bottom-left-radius: var(--w-pop-wrap-radius);
    border-bottom-right-radius: var(--w-pop-wrap-radius)
}

.SearchBar_main_1wk2T input {
    height: 100%
}

.SearchBar_main_1wk2T .woo-input-icon {
    left: 8px
}

.SearchBar_main_1wk2T .woo-input-hasIcon {
    padding-left: 33px
}

.SearchBar_iptbox_oYj_6 {
    background-color: #f0f1f4;
    background-color: var(--weibo-top-nav-search-bar-bg);
    border-color: #f0f1f4;
    border-color: var(--weibo-top-nav-search-bar-bd)
}

.SearchBar_iptbox_oYj_6,.SearchBar_iptbox_oYj_6 input {
    color: #333;
    color: var(--weibo-top-nav-search-bar-color)
}

.SearchBar_iptbox_oYj_6 input::-webkit-input-placeholder {
    color: #939393;
    color: var(--weibo-top-nav-search-bar-placeholder)
}

.SearchBar_iptbox_oYj_6 input::-moz-placeholder {
    color: #939393;
    color: var(--weibo-top-nav-search-bar-placeholder)
}

.SearchBar_iptbox_oYj_6 input:-ms-input-placeholder {
    color: #939393;
    color: var(--weibo-top-nav-search-bar-placeholder)
}

.SearchBar_iptbox_oYj_6 input::-ms-input-placeholder {
    color: #939393;
    color: var(--weibo-top-nav-search-bar-placeholder)
}

.SearchBar_iptbox_oYj_6 input::placeholder {
    color: #939393;
    color: var(--weibo-top-nav-search-bar-placeholder)
}

.SearchBar_iptbox_oYj_6.woo-input-focus input {
    color: #333;
    color: var(--weibo-top-nav-search-bar-focus)
}

.SearchBar_result_1bQmd {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.SearchBar_result_1bQmd.SearchBar_rNoInputBox_2zUHw {
    max-height: 605px
}

.SearchBar_result_1bQmd.SearchBar_rInputBox_2teJu {
    max-height: 423px
}

.SearchBar_result_1bQmd:after {
    min-height: calc(100% + 1px)
}

.SearchBar_rsItem_220Kh,.SearchBar_rsUl_2hSk1 {
    padding: 0;
    margin: 0
}

.SearchBar_rsItem_220Kh>span {
    margin-right: 4px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    font-size: 14px;
    color: #838383;
    color: var(--w-fonticon);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    -webkit-transform-origin: right center;
    transform-origin: right center
}

.SearchBar_rsItem_220Kh>span>i {
    font-weight: 900
}

.SearchBar_rsItem_220Kh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    color: var(--w-main)
}

.SearchBar_rsItem_220Kh.SearchBar_rsItemCur_3it11 {
    background-color: #f8f8fb;
    background-color: var(--w-pophover-background)
}

.SearchBar_rsItem_220Kh>i.SearchBar_iconCross_3RTNd {
    color: #333;
    color: var(--w-main);
    display: none
}

.SearchBar_rsItem_220Kh>i.SearchBar_iconCross_3RTNd:hover {
    color: #ff8200;
    color: var(--w-brand)
}

.SearchBar_rsItem_220Kh.SearchBar_rsHover_1nh3A {
    background-color: #f2f2f2;
    background-color: var(--w-repost-background);
    color: #ff8200;
    color: var(--w-brand)
}

.SearchBar_rsItem_220Kh.SearchBar_rsHover_1nh3A .SearchBar_searchText_1DPX1,.SearchBar_rsItem_220Kh.SearchBar_rsHover_1nh3A>span:hover {
    color: #ff8200;
    color: var(--w-brand)
}

.SearchBar_Schtext_3A0bs {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.SearchBar_fontOrg_yO93A {
    color: #ff8200;
    color: var(--w-brand)
}

.SearchBar_sName_2U6Wq {
    font-size: 14px;
    color: #333;
    color: var(--w-main);
    font-weight: 500;
    line-height: 1.29
}

.SearchBar_sDesc_u7VCT,.SearchBar_sName_2U6Wq {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.SearchBar_sDesc_u7VCT {
    font-size: 12px;
    color: #939393;
    color: var(--w-sub);
    line-height: 1.33
}

.SearchBar_SchTopBox_KhS76 {
    padding: 6px 10px 5px
}

.SearchBar_SchTopBox_KhS76 .SearchBar_schTopTit_3-WD_ {
    font-size: 14px;
    color: #939393;
    color: var(--w-sub)
}

.SearchBar_userBox_o-uaf+.SearchBar_keyWordsBox_lcPFd {
    border-top: 1px solid #f2f2f2;
    border-top: solid 1px var(--w-card-border)
}

.SearchBar_userInfoBox_SFu2y {
    min-width: 0;
    margin-left: 10px
}

.SearchBar_searchWords_2t4ab {
    padding-left: 12px
}

.SearchBar_searchIcon_2xH6V {
    margin-right: 10px;
    color: #939393;
    color: var(--w-sub)
}

.SearchBar_searchText_1DPX1 {
    width: 100%;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #333;
    color: var(--w-main)
}

.SearchBar_rsHover_1nh3A .SearchBar_searchIcon_2xH6V {
    color: #ff8200;
    color: var(--w-brand)
}

.SearchBar_weiboTopBox_3UYif {
    padding: 14px 10px;
    cursor: pointer
}

.SearchBar_weiboTopBox_3UYif.SearchBar_topCur_g8Mk8 {
    background-color: #f8f8fb;
    background-color: var(--w-pophover-background)
}

.SearchBar_weiboTopBox_3UYif .SearchBar_weiboName_1lJCN {
    min-width: 0;
    font-size: 14px;
    color: #939393;
    color: var(--w-sub)
}

.SearchBar_weiboTopBox_3UYif i {
    color: #838383;
    color: var(--w-fonticon)
}

.SearchBar_weiboTopBox_3UYif .SearchBar_weiboNameReTitTop_1oH_C {
    min-width: 0;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.SearchBar_weiboTopBox_3UYif .SearchBar_weiboNameReTitTop_1oH_C>span {
    display: inline-block;
    font-size: 14px;
    color: #939393;
    color: var(--w-sub)
}

.SearchBar_weiboTopBox_3UYif .SearchBar_weiboNameReTitTop_1oH_C .SearchBar_maxText_Y8oAx {
    max-width: 96px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.SearchBar_rWeibo_YdBa9.SearchBar_topCur_g8Mk8 {
    background-color: #f8f8fb;
    background-color: var(--w-pophover-background)
}

.SearchBar_rWeibo_YdBa9 .SearchBar_rsItem_220Kh {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 10px
}

.SearchBar_rWeibo_YdBa9 .SearchBar_weiboName_1lJCN {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.SearchBar_rWeibo_YdBa9 .SearchBar_iconHot_2AI3h {
    width: 14px;
    height: 14px;
    background-color: #ff8200;
    background-color: var(--w-brand);
    position: relative
}

.SearchBar_rWeibo_YdBa9 .SearchBar_iconHot_2AI3h>span {
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(.8);
    transform: translate(-50%,-50%) scale(.8);
    -webkit-transform-origin: center;
    transform-origin: center;
    border-radius: 1px
}

.SearchBar_rWeibo_YdBa9+.SearchBar_rUser_q77FK {
    border-top: 1px solid #f2f2f2;
    border-top: solid 1px var(--w-card-border)
}

.SearchBar_weiboList_3xb3t {
    min-width: 0
}

.SearchBar_flexDirection_3Etng,.SearchBar_noDataBox_3DYkR {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.SearchBar_noDataBox_3DYkR {
    height: 250px
}

.SearchBar_noDataBox_3DYkR .SearchBar_nodataIcon_16D4H {
    width: 37px;
    height: 37px;
    white-space: nowrap
}

.SearchBar_noDataBox_3DYkR .SearchBar_noText_18xoo {
    font-size: 14px;
    color: #333;
    color: var(--w-main);
    padding-top: 16px
}

.SearchBar_dialogTips_2Elbq {
    font-size: 14px;
    margin-bottom: 8px;
    display: inline-block
}
.ent_rank_icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20class%3D%22icon%22%20width%3D%22200px%22%20height%3D%22200.00px%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23838383%22%20d%3D%22M514.986667%20125.696a42.666667%2042.666667%200%200%201-38.613334%2046.421333A337.152%20337.152%200%200%200%20507.733333%20844.8a337.066667%20337.066667%200%200%200%20299.093334-492.672%2042.666667%2042.666667%200%200%201%2075.648-39.466667A420.693333%20420.693333%200%200%201%20930.133333%20507.733333c0%20233.301333-189.098667%20422.4-422.4%20422.4S85.333333%20741.034667%2085.333333%20507.733333a422.485333%20422.485333%200%200%201%20383.232-420.608%2042.666667%2042.666667%200%200%201%2046.378667%2038.570667z%20m167.210666-19.029333a110.08%20110.08%200%200%201%20109.824%20103.082666l0.213334%206.954667v4.48a42.666667%2042.666667%200%200%201-85.034667%204.992l-0.298667-4.992V216.746667a24.704%2024.704%200%200%200-49.066666-4.010667l-0.341334%204.010667V507.733333c0%201.962667-0.128%203.882667-0.426666%205.802667v-0.426667a145.066667%20145.066667%200%201%201-84.906667-132.053333V216.746667A110.037333%20110.037333%200%200%201%20682.197333%20106.666667zM512%20453.376a59.733333%2059.733333%200%201%200%200%20119.466667%2059.733333%2059.733333%200%200%200%200-119.466667z%22%20%2F%3E%3C%2Fsvg%3E");
    width: 24px;
    background-size: 24px 24px;
    height: 24px;margin-right: 18px;
}
.cur .ent_rank_icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20class%3D%22icon%22%20width%3D%22200px%22%20height%3D%22200.00px%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23ff8200%22%20d%3D%22M514.986667%20125.696a42.666667%2042.666667%200%200%201-38.613334%2046.421333A337.152%20337.152%200%200%200%20507.733333%20844.8a337.066667%20337.066667%200%200%200%20299.093334-492.672%2042.666667%2042.666667%200%200%201%2075.648-39.466667A420.693333%20420.693333%200%200%201%20930.133333%20507.733333c0%20233.301333-189.098667%20422.4-422.4%20422.4S85.333333%20741.034667%2085.333333%20507.733333a422.485333%20422.485333%200%200%201%20383.232-420.608%2042.666667%2042.666667%200%200%201%2046.378667%2038.570667z%20m167.210666-19.029333a110.08%20110.08%200%200%201%20109.824%20103.082666l0.213334%206.954667v4.48a42.666667%2042.666667%200%200%201-85.034667%204.992l-0.298667-4.992V216.746667a24.704%2024.704%200%200%200-49.066666-4.010667l-0.341334%204.010667V507.733333c0%201.962667-0.128%203.882667-0.426666%205.802667v-0.426667a145.066667%20145.066667%200%201%201-84.906667-132.053333V216.746667A110.037333%20110.037333%200%200%201%20682.197333%20106.666667zM512%20453.376a59.733333%2059.733333%200%201%200%200%20119.466667%2059.733333%2059.733333%200%200%200%200-119.466667z%22%20%2F%3E%3C%2Fsvg%3E");
}

.card-user-b-padding{padding:20px 18px;}
.woo-button-icon+.woo-button-content{margin-left:0!important;}
.woo-button-main{cursor:pointer}
.woo-button-line.woo-button-primary:hover {background: var(--w-b-line-primary-bg-hover)}
.woo-button-line.woo-button-default:hover {background: var(--w-b-line-default-bg-hover)}
.woo-button-flat.woo-button-primary:hover {background: var(--w-b-flat-primary-bg-hover)}
.card-user-list-a .woo-button-s{padding:0.5rem 0.36rem;}


.card-direct-topic{padding:18px;cursor:pointer;border: 1px solid #F9F9F9;}
.card-direct-topic:hover{background-color: var(--w-repost-background);}
.select-arrow{display:inline-block;position:relative;background: #F0F1F4;margin-right: 8px;
    border-radius: 6px;
    overflow: hidden;
    vertical-align: middle;}
.select-arrow i {position:absolute;top:12px;right:8px;color:#838383;z-index: 1;}
.wbp-video{
    width: 100%!important;
    height: 100%!important;
}
.gifvideo{
    position: absolute;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.gif-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
    z-index: var(--w-index-flow);
    color: #fff;
    color: var(--w-contrast);
    background-color: #eb7350;
    background-color: var(--feed-picture-tag-bg);
    border-radius: 8px 0 8px 0;
    border-radius: var(--feed-picture-tag-border-radius);
    font-size: 12px;
    font-size: var(--feed-picture-tag-font-size);
    min-width: 31px;
    text-align: center;
    opacity: .9;
    line-height: 16px;
}
/* 微博广告标题 */
.wb-ad-tile {
    display: inline-block;
    min-width: 26px;
    height: 13px;
    border: 1px solid #ccc;
    border: 1px solid var(--w-disabled);
    border-radius: 2px;
    line-height: 14px;
    color: #939393;
    color: var(--w-sub);
    text-align: center;
    vertical-align: top;
    margin-top: -2px;
}
.wb-ad-tile div {
    font-size: 12px;
    -webkit-transform: scale(.83);
    transform: scale(.83);
}